@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&family=Poppins:wght@400;500;600;700;800&display=swap');


/* Custom Base Styles */
body {
    background-color: #0f172a;
    /* Slate 900 */
    color: #f8fafc;
    /* Slate 50 */
    min-height: 100vh;
}