@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&family=Poppins:wght@400;500;600;700;800&display=swap');


/* Custom Base Styles */
body {
    background-color: #ffffff;
    color: #0A0A0A;
    min-height: 100vh;
    font-family: 'Manrope', sans-serif;
}